<h1>Dashboard#index</h1>
<p>U W U</p>

<%#= link_to 'New Lab Test Result', new_labtestsresult_path %>
<li><%= link_to 'Lab Test Results', labtestsresults_path%></li>
<li><%= link_to 'Diagnosed by', analyzeordiagnoses_path%></li>
